@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #404eed;
    font-family: 'Poppins', sans-serif;
    color: #fcfcfc;
}
.login-box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background-color: #36393f;
    width:70% ;
    height: 70%;
    padding: 30px;
}
.login-box .logo i{
    font-size: 1.7rem;
}
.login-box h1{
    font-weight: 300px;
}
.login-box h5{
    margin-bottom: 1.3rem;
    margin-left: 9px;
}
.input-item input{
    padding: 5px;
    font-size: 1.1rem;
    outline:skyblue;
    background-color: #303339;
    border-radius: 10px;
}
.input-item:nth-child(1){
    margin-bottom: 15px;
}
form input[type="submit"]{
    color: white;
    background: #5865f2;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 150px;
}
.footer{
    margin-top: 20px;
}
.footer span{
    color: rgba(240, 232, 232, 0.4);
    font-size: 0.8rem;
    margin-left: 9px;
}
.socialMedia a{
    color: white;
    text-decoration: none;
}
.social-mediagoogle{
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background: cornflowerblue;
    width: 300px;
}
.social-mediagithub{
    border-radius: 10px;
    padding: 5px;
    background: rgb(2, 22, 59);
    width: 300px;
}
.discordbackgrounds{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}
.discordbackgrounds img{
    width: 100%;
    
}
#teste{
    width: 470px;
    position: absolute;
    top: 215px;
    right: -30px;
}

@media (max-width:538px){
    .login-box h1{
       font-size: 1.4rem;
    }
}